.movie-item {

  border-bottom: 1px solid #ccc;
  width: 126px;
  overflow: hidden;

  &:hover {
    background-color: #c4cacb;

    & .selected {
      background-color: #d6e3e5;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.movie-item h4 {
  font-size: small;
  line-height: 1em;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.selected {
  background-color: #d6e3e5;
}

.poster{
  height: 175px;
    width: 125px;
    overflow: hidden;
}

.poster img {
  width: 50px;
}

// Media queries for responsiveness
@media (min-width: 576px) {
  .movie-item {
    flex-direction: row;
    align-items: center;
  }

  .poster img {
    width: 75px;
  }

  .movie-item h4 {
    font-size: medium;
  }
}

@media (min-width: 768px) {
  .movie-item {
    padding: 15px;
  }

  .poster img {
    width: 100px;
  }

  .movie-item h4 {
    font-size: large;
  }
}

@media (min-width: 992px) {
  .movie-item {
    padding: 20px;
  }

  .poster img {
    width: 125px;
  }

  .movie-item h4 {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .movie-item {
    padding: 25px;
  }

  .poster img {
    width: 150px;
  }

  .movie-item h4 {
    font-size: xx-large;
  }
}
