/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
button{
  background: linear-gradient(135deg, #00181a 0%, #00abb3 100%);
  border: 0px solid;
  border-radius: 2px;
  margin-left: 2px;
  padding: 3px 14px;
  color: white;
}

input{
  border: 1px solid #00abb3;
  border-radius: 2px;
  padding: 3px 14px;
  margin-left: 2px;
  &::-moz-focus-inner{
    border: 1.3px solid #00181a;
  }
}
