
<div class="search-panel">
  <div>
    <input type="text" placeholder="Search for a movie"
    (keydown.enter)="getMovies()"
      (input)="searchMovies($event)">
    <button (click)="getMovies()">Search</button>
    <h5 *ngIf="!error.Response"> {{error.Error}} </h5>
  </div>
  <div class="container">
    <div class="search-content">
      <div *ngIf="error.Response && response.length > 0"  class="movie-list">

          <app-movie [movie]="movie" *ngFor="let movie of response"
          [selected] ="movie === selectedItem"
          (click)="toggleSelect(movie)"></app-movie>
        
      </div>
    </div>
    <app-movie-details class="movie-details" *ngIf="selectedItem.imdbID != ''" [movieId]="selectedItem.imdbID"></app-movie-details>
  </div>
</div>
